<table>
  <thead>
    <tr>
      <th>Город</th>
      <th>Температура</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of weather">
      <td>{{w.city}}</td>
      <td>{{w.temperature}}</td>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let w of weather">
      <td>{{w.city}}</td>
      <td>{{w.temperature}}</td>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let w of weather">
      <td>{{w.city}}</td>
      <td>{{w.temperature}}</td>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let w of weather">
      <td>{{w.city}}</td>
      <td>{{w.temperature}}</td>
    </tr>
  </tbody>
</table>